<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PitStopPro</title>
        <link rel="stylesheet" href="../static/contact.css">
    </head>
    <body>
        <nav id="main-nav">
            <a href="{% url 'home' %}"><img src="../../static/assets/logo.png"></a>
            <ul>
                <li><a href="{% url 'calendar' %}">Calendar</a></li>
                <li><a href="{% url 'earnings_view' 'monthly' %}">Earnings</a></li>
                <li><a href="{% url 'inventory' %}">Inventory</a></li>
                <li><a href="{% url 'employee_list' %}">Employees</a></li>
                <li><a href="{% url 'invoicing' %}">Invoices</a></li>
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                <li><a href="{% url 'settings/' %}">Settings</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'customerContact' %}">Customer Support</a></li>
                <li><a href="{% url 'jobs' %}">Jobs</a></li>
                <li><a href="{% url 'customers' %}">Rewards</a></li>
            </ul>
        </nav>
        <main>
            <h1>Contact PitStopPro</h1>
            <div class="info">
                <h3>Phone Number</h3>
                <p>(865)739-3829</p>
                <hr>
                <h3>Email</h3>
                <a href = "mailto: Pitstoppro@support.com">Pitstoppro@support.com</a>
                <hr>
                <h3>Office</h3>
                <address>123 Address Dr, Columbia SC 29378</address>
            </div>
        </main>
    </body>
</html>