<!DOCTYPE html>
<html lang = "en">

    <head>
        <title>Settings </title>
        <link rel = "stylesheet" href="../../static/userSettings.css">
    </head>
    <body>
        <nav id="main-nav">
            <a href="{% url 'home' %}"><img src="../../static/assets/logo.png"></a>
            <ul>
                <li><a href="{% url 'calendar' %}">Calendar</a></li>
                <li><a href="{% url 'earnings_view' 'monthly' %}">Earnings</a></li>
                <li><a href="{% url 'inventory' %}">Inventory</a></li>
                <li><a href="{% url 'employee_list' %}">Employees</a></li>
                <li><a href="{% url 'invoicing' %}">Invoices</a></li>
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                <li><a href="{% url 'settings/' %}">Settings</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'customerContact' %}">Customer Support</a></li>
                <li><a href="{% url 'jobs' %}">Jobs</a></li>
                <li><a href="{% url 'customers' %}">Rewards</a></li>
            </ul>
        </nav>
        <img src = "../../static/assets/logo.png" alt = "logo">
        <div>
            <h1>Hi {{ user.first_name }} !</h1>
            <p>email: {{user.email}} </p>
            <form method = "POST" action = "{% url 'settings/' %}">
            {%csrf_token%} 
                    <input type = "submit" value = "Logout"/>
            </form>
        </div>
    </body>
</html>
