<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Invoicing</title>
        <link rel="stylesheet" href="../../static/css/viewinvoices.css">
    </head>
    <body>
        <nav id="main-nav">
            <a href="{% url 'home' %}"><img src="../../static/images/logo.png"></a>
            <ul>
                <li><a href="{% url 'calendar' %}">Calendar</a></li>
                <li><a href="#">Earnings</a></li>
                <li><a href="#">Inventory</a></li>
                <li><a href="{% url 'invoicing' %}">Invoicing</a></li>
                <li><a href="#">Payroll</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
        <main id="main-content">
        {% for invoice in invoices %}
            <article class="invoice">
                <div class="from">{{company.name}}</div>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th class="desc">Description</th>
                            <th class="price">Price</th>
                            <th class="qty">Quantity</th>
                        </tr>
                        <tr>
                            <td class="desc">{{invoice.item1Desc}}</td>
                            <td>{{invoice.item1Price}}</td>
                            <td>{{invoice.item1Qty}}</td>
                        </tr>
                        <tr>
                            <td class="desc">{{invoice.item2Desc}}</td>
                            <td>{{invoice.item2Price}}</td>
                            <td>{{invoice.item2Qty}}</td>
                        </tr>
                        <tr>
                            <td class="desc">{{invoice.item3Desc}}</td>
                            <td>{{invoice.item3Price}}</td>
                            <td>{{invoice.item3Qty}}</td>
                        </tr>
                    </thead>
                </table>
                <div class="subtotal"><h1>Subtotal: ${{invoice.subtotal}}</h1></div>
            </article>
        {% endfor %}
        </main>
        <footer id="main-footer">
            <a href="{% url 'createinvoice' %}"><button>+ Create New Invoice</button></a>
        </footer>
    </body>
</html>