<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PitStopPro</title>
        <link rel="stylesheet" href="../../static/home.css">
    </head>
    <body>
        <nav id="main-nav">
            <img src="../../static/assets/logo.png">
            <ul>
                <li>Calendar</li>
                <li>Earnings</li>
                <li>Inventory</li>
                <li>Invoices</li>
                <li>Payroll</li>
                <li>Settings</li>
            </ul>
        </nav>
        <main>
            <h1>Welcome to PitStopPro</h1>
            <p>Please select a navigation item to begin.</p>
        </main>
    </body>
</html>