<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PitStopPro</title>
        <link rel="stylesheet" href="../../static/home.css">
    </head>
    <body>
        <nav id="main-nav">
            <img src="../../static/assets/logo.png">
            <ul>
                <a href="{% url 'calendar' %}"><li>Calendar</li></a>
                <a href="{% url 'earnings_view' 'monthly' %}"><li>Earnings</li></a>
                <a href="{% url 'inventory' %}"><li>Inventory</li></a>
                <a href="{% url 'employee_list' %}"><li>Employees</li></a>
                <a href="{% url 'invoicing' %}"><li>Invoices</li></a>
                <a href="{% url 'pricing' %}"><li>Pricing</li></a>
                <a href="{% url 'contact' %}"><li>Contact Us</li></a>
                <a href="{% url 'customerContact' %}"><li>Customer Support</li></a>
                <a href="{% url 'jobs' %}"><li>Jobs</li></a>
                <a href="{% url 'customers' %}"><li>Rewards</li></a>
                <a href="{% url 'settings/' %}"><li>Log Out</li></a>
            </ul>
        </nav>
        <main>
            <h1>Welcome to PitStopPro</h1>
            <p>Please select a navigation item to begin.</p>
        </main>
    </body>
</html>