<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create An Invoice</title>
        <link rel="stylesheet" href="../../static/createjobs.css">
    </head>
    <body>
        <nav id="main-nav">
            <a href="{% url 'home' %}"><img src="../../static/images/logo.png"></a>
            <ul>
                <a href="{% url 'calendar' %}"><li>Calendar</li></a>
                <a href="{% url 'earnings_view' 'monthly' %}"><li>Earnings</li></a>
                <a href="{% url 'inventory' %}"><li>Inventory</li></a>
                <a href="{% url 'employee_list' %}"><li>Employees</li></a>
                <a href="{% url 'invoicing' %}"><li>Invoices</li></a>
                <a href="{% url 'pricing' %}"><li>Pricing</li></a>
                <a href="{% url 'contact' %}"><li>Contact Us</li></a>
                <a href="{% url 'customerContact' %}"><li>Customer Support</li></a>
                <a href="{% url 'jobs' %}"><li>Jobs</li></a>
                <a href="{% url 'customers' %}"><li>Rewards</li></a>
                <a href="{% url 'settings/' %}"><li>Log Out</li></a>
            </ul>
        </nav>
        <main id="main-content">
            <section id="client-info">
            <h1>Create A Job</h1>
            <a href="{% url 'addclient' %}">
                <button>Add Client</button>
            </a>
            <a href="{% url 'addvehicle' %}">
                <button>Add Vehicle</button>
            </a>
            <form method="POST" action="{% url 'createjobs' %}">
                {% csrf_token %}
                <h3>Client Information</h3>
                <p>
                    <table>{{ form }}</table>
                </p>
                <p>
                    <table>{{  vform }}</table>
                </p>
                <input type="submit" value="Create Job" class="btn btn-secondary">
            </form>
        </main>
        <footer id="main-footer">
            <a href="{% url 'jobs' %}"><p>View All Jobs</p></a>
        </footer>
    </body>
</html>