<!--Display a list of employees with links to their detail pages.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PitStopPro</title>
    <link rel="stylesheet" href="../../static/css/employee_list.css">
</head>
<body>
    <nav id="main-nav">
        <a href="{% url 'home' %}"><img src="../../static/images/logo.png"></a>
        <ul>
            <a href="{% url 'calendar' %}"><li>Calendar</li></a>
            <a href="{% url 'earnings_view' 'monthly' %}"><li>Earnings</li></a>
            <a href="{% url 'inventory' %}"><li>Inventory</li></a>
            <a href="{% url 'employee_list' %}"><li>Employees</li></a>
            <a href="{% url 'invoicing' %}"><li>Invoices</li></a>
            <a href="{% url 'pricing' %}"><li>Pricing</li></a>
            <a href="{% url 'contact' %}"><li>Contact Us</li></a>
            <a href="{% url 'customerContact' %}"><li>Customer Support</li></a>
            <a href="{% url 'jobs' %}"><li>Jobs</li></a>
            <a href="{% url 'customers' %}"><li>Rewards</li></a>
            <a href="{% url 'settings/' %}"><li>Log Out</li></a>
        </ul>
    </nav>
    <main id="main-content">
        <h1>Employees</h1>
        <form method="post">
            {% csrf_token %}
            {{ payrollform }}
            <button type="submit" class="add">Add Employee</button>
        </form>
        <ul class="employee-list">
            {% for employee in employees %}
                <li>
                    {% if employee.employeeID %}
                        <a href="{% url 'employee_detail' employee.employeeID %}">{{ employee.name }}</a>
                    {% else %}
                        <!-- Handle case where employee.id is empty-->
                        Employee ID not available
                    {% endif %}


                    - {{ employee.email }} - {{ employee.position }}
                    {% if employee.employeeID  %}
                        <form action="{% url 'delete_employee' employee.employeeID  %}" method="post" style="display: inline;">
                            {% csrf_token %}

                            <section class="buttons">
                                <a class="button" href="{% url 'employee_detail' employee.employeeID %}">Edit</a>
                                <button class="delete" type="submit">Delete</button>
                            </section>
                        </form>
                    {% else %}
                        <!-- Handle case where employee.id is empty-->
                        Delete not available
                    {% endif %}
                </li>
            {% empty %}
                <li>No employees found.</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>